html, body {
    height: 100%;
}

button:focus,button:focus-visible{
    outline: none !important;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

div.body-content {
    flex-grow: 1;
}

.search-row {
    display: flex;
    justify-content: center;
    padding: 2rem;
    gap: 1rem;
}

.cus-info-row {
    display: flex;
    padding: 0.5rem 0;
    gap: 1rem;
}

.cus-info-title {
    font-weight: bold;
}

.lookup-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px 0;
    height: 100%;
}

.lookup-item-container {
    position: relative;
    display: flex;
    padding: 2rem;
    border-radius: 1rem;
    gap: 1rem;
    background-color: hsl(210, 17%, 98%);
    border: 1px solid hsl(210, 17%, 88%);
}

.lookup-title {
    position: absolute;
    top: 0;
    left: 1.5rem;
    margin: 0;
    padding: 0 0.5rem;
    transform: translateY(-50%);
    background: linear-gradient( to top, hsl(210, 17%, 98%) 0%, hsl(210, 17%, 98%) 50%, white 50%, white 100% );
}

div.spacer {
    flex-grow: 1;
}

.type-dropdown {
    padding: 0.25rem;
    border-radius: 1rem;
    border-color: hsl(210, 17%, 88%);
    height: 4rem;
    width: 100%;
    min-width: max-content;
}

.gridview-dropdown {
    padding: 0.25rem;
    border-radius: 1rem;
    border-color: hsl(210, 17%, 88%);
    height: 34px;
    min-width: max-content;
}
