html,body{
    height: 100%;
}
.wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
}
div.body-content{

    flex-grow: 1;
}
.search-row {
    display: flex;
    justify-content: center;
    padding: 2rem;
    gap: 1rem;
}

.cus-info-row{
    display: flex;
    padding: 0.5rem 0;
    gap: 1rem;
}

.cus-info-title{
    font-weight: bold;
}